@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: theme("colors.white");
        --foreground: theme("colors.slate.900");
    }

    :root[class~="dark"] {
        --background: theme("colors.slate.950");
        --foreground: theme("colors.white");
    }
}

@keyframes radar-sweep {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-radar-sweep {
    animation: radar-sweep 4s linear infinite;
}

.recharts-wrapper {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
}

.recharts-surface {
    overflow: visible;
}
